<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.heesoo.nutrient.mapper.NutrientMapper">

	<insert id="insertData" parameterType="NutrientDTO">
		<![CDATA[
			INSERT INTO nutrient(
				id, food_cd, group_name, food_name, research_year, maker_name, ref_name, serving_size, calorie, carbohydrate, protein, province, sugars, salt, cholesterol, saturated_fatty_acids, trans_fat)
			VALUES(
				#{id}, #{foodCd}, #{groupName}, #{foodName}, #{researchYear}, #{makerName}, #{refName}, #{servingSize}, #{calorie}, #{carbohydrate}, #{protein}, #{province}, #{sugars}, #{salt}, #{cholesterol}, #{saturatedFattyAcids}, #{transFat})
		]]>
	</insert>
	
	
	<select id="search" resultType="NutrientDTO" parameterType="map">
		<![CDATA[
			SELECT *
			FROM (
				SELECT *
				FROM nutrient
				WHERE food_name	 LIKE '%'||#{foodName, jdbcType=VARCHAR}||'%'
				OR research_year LIKE '%'||#{researchYear, jdbcType=VARCHAR}||'%'
				OR maker_name LIKE '%'||#{makerName, jdbcType=VARCHAR}||'%'
				OR food_cd LIKE '%'||#{foodCode, jdbcType=VARCHAR}||'%'
			)
			WHERE ROWNUM >=#{startPage} AND ROWNUM <=#{endPage}
		]]>
	</select>
	
	<!--<select id="search" resultType="NutrientDTO" parameterType="map">
		<![CDATA[
			SELECT *
			FROM (
				SELECT *
				FROM nutrient
				WHERE 1 = 1
				<if test="foodName != null">
					OR food_name LIKE '%'||#{foodName}||'%'
				</if>
				<if test="researchYear != null">
					OR research_year LIKE '%'||#{researchYear}||'%'
				</if>
				<if test="makerName != null">
					OR maker_name LIKE '%'||#{makerName}||'%'
				</if>
				<if test="foodCode != null">
					OR food_cd LIKE '%'||#{foodCode}||'%'
				</if>
			)
			WHERE ROWNUM >=#{startPage} AND ROWNUM <=#{endPage}
		]]>
	</select>
	-->
	
	<!--<select id="search" resultType="NutrientDTO" parameterType="map">
	<![CDATA[
		SELECT *
		FROM (
			SELECT a.*, ROWNUM rnum
			FROM (
				SELECT *
				FROM nutrient
				WHERE 1 = 1
				<if test="foodName != null">
					OR food_name LIKE '%'||#{foodName}||'%'
				</if>
				<if test="researchYear != null">
					OR research_year LIKE '%'||#{researchYear}||'%'
				</if>
				<if test="makerName != null">
					OR maker_name LIKE '%'||#{makerName}||'%'
				</if>
				<if test="foodCode != null">
					OR food_cd LIKE '%'||#{foodCode}||'%'
				</if>
			) a
			WHERE ROWNUM <= #{endPage}
		)
		WHERE rnum >= #{startPage}
	]]>
</select>-->
	
	<!--<select id="search" resultType="NutrientDTO" parameterType="map">
		SELECT *
		FROM nutrient
		WHERE 1 = 1
			<if test="foodName != null">
				AND food_name LIKE '%'||#{foodName}||'%'
			</if>
			<if test="researchYear != null">
				AND research_year LIKE '%'||#{researchYear}||'%'
			</if>
			<if test="makerName != null">
				AND maker_name LIKE '%'||#{makerName}||'%'
			</if>
			<if test="foodCode != null">
				AND food_cd LIKE '%'||#{foodCode}||'%'
			</if>
	</select>-->
	
</mapper>